@import './_reset.scss';

$main-color: #ff0000;

.red {
    color: $main-color;
}

@mixin alert{
    background-color: #eee;
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
    width: 100%;
    margin: auto;
}

.my-alert {
    @include alert;

    p {
        margin-bottom: 0;
    }
}

.my-alert-red {
    @extend .my-alert;
    background-color: #ffe591;

    p {
        color: red;
    }
}

.tab-flex {
    display: flex;
}

.tab-btn {
    // float: left;
    max-width: 100px;
    width: 30%;
    height: 50px;
    padding: 12px;
    border: 1px solid #eee;
    cursor: pointer;
    background-color: white;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

$primeblue:#00BFFF;

.tab-selected {
    border-bottom: none;
    color: $primeblue;
    font-weight: bold;
}


.tab-container {
    width: 90%;
    margin: auto;
    margin-top: 20px;
}

.tab-remain {
    flex-grow: 10;
    border-bottom: 1px solid #eee; 
}

.tab-contents {
    width: 100%;
    height: 300px;
    border: 1px solid #eee;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;

    padding: 20px;
}

.tab-ani-enter { // 애니메이션 시작에 사용될 css
    opacity: 0;
}

.tab-ani-enter-active { // 애니메이션 동작시 사용될 css
    opacity: 1;
    transition: all 1s;
}

@media screen and (max-width: 768px) {
    .tab-btn {
        max-width: 500px;
        width: 35%;
    }
}